
.AirdropButton {
  margin-top: 500px;
  margin-left: fixed;
  background-color: #561097;  /* default background color */
  color: white;
  padding: 20px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease; /* transition for smooth animation */
}


.AirdropButton:hover {
  transform: scale(1.05); /* enlarge button a little */
  background-color: #05101c;  /* slightly darker on hover */
}

.AirdropButton:active, .clicked {
  background-color: #130070;  /* even darker when active or clicked */
}
