/* styles/styles.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

@keyframes floatBackground {
    0% {
        background-position: 0px 0px;
    }
    50% {
        background-position: 30px 30px; /* This determines how far the image moves */
    }
    100% {
        background-position: 0px 0px;
    }
}

body {
    background-image: url('/public/images/PurpleSpace.png');
    background-repeat:no-repeat;
    background-color: blueviolet;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
}

.form-container {
    margin-top: 40px;
}

.section {
    margin-bottom: 20px;
}
